<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<div id="app">
  <div id='test'>
    <template v-if="1==1">
        "template标签显示"
    </template>
    
    <br>
    <a href="{{url}}">百度</a>
    <a v-bind:href="url">百度</a>
    <p v-if="1==2">现在你看到我了</p>
    <p>{{now}}</p>
    <p>{{now1()}}</p>
  </div>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      message: '这是我的第一个Vue.js!',
      url: 'https://www.baidu.com'
    },
    methods: {
      now1: function () {
        return Date.now();
      }
    },
    computed: {
      now: function () {
        return Date.now();
      }
    }
  })
</script>